/*-----------------------------------------------------
AUTHOR: Muhan Guclu
WEBSITE: http://magicmuhan.com

Primary Stylesheet
-----------------------------------------------------*/

/*-----------------------------------------------------
GENERAL STYLES
-----------------------------------------------------*/

body {
	background: #1c303a;
  overflow-x: hidden;
}

h1, h2, h3, h4 {
	font-family: 'Lato', sans-serif;
	padding: 0;
	margin: 0;
	line-height: 140%;
}

p, li, a {
	font-family: 'Lato', sans-serif;
	text-decoration: none;
	color: #f4f5f4;
}

#wrapper {
  padding-left: 0;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#wrapper.toggled {
  padding-left: 250px;
}

#sidebar-wrapper {
  z-index: 1000;
  position: fixed;
  left: 250px;
  width: 0;
  height: 100%;
  margin-left: -250px;
  overflow-y: auto;
  background: #000;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
  width: 250px;
}

#page-content-wrapper {
  width: 100%;
  position: absolute;
  padding: 15px;
}

#wrapper.toggled #page-content-wrapper {
  position: absolute;
  margin-right: -250px;
}


/*-----------------------------------------------------
MAIN NAVIGATION
-----------------------------------------------------*/

.sidebar-nav {
  position: absolute;
  top: 0;
  width: 250px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.sidebar-nav li {
  text-indent: 20px;
  line-height: 40px;
}

.sidebar-nav li a {
  display: block;
  text-decoration: none;
  color: #999999;
}

.sidebar-nav li a:hover {
  text-decoration: none;
  color: #fff;
  background: rgba(255, 255, 255, 0.2);
}
