/*-----------------------------------------------------
AUTHOR: Muhan Guclu
WEBSITE: http://magicmuhan.com

Primary Stylesheet
-----------------------------------------------------*/

/*-----------------------------------------------------
GENERAL STYLES
-----------------------------------------------------*/

body {
  overflow-x: hidden;
  background: #f4f5f4;
}

h1, h2, h3, h4 {
	font-family: 'Lato', sans-serif;
	padding: 0;
	margin: 0;
	line-height: 140%;
}

p, li, a {
	font-family: 'Lato', sans-serif;
	text-decoration: none;
	color: #f4f5f4;
}

#wrapper {
  padding-left: 20vw;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#sidebar-wrapper {
  z-index: 1000;
  position: fixed;
  left: 0;
  width: 20vw;
  height: 100%;
  /*margin-left: -20vw;*/
  overflow-y: auto;
  background: rgb(11, 19, 23);
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#page-content-wrapper {
  width: calc(100% - 20vw);
  position: absolute;
  height: 100vh;
}

#page-content-wrapper > .container-fluid {
  height: 100%;
  padding: 0;
}

/*-----------------------------------------------------
MAIN NAVIGATION
-----------------------------------------------------*/

.sidebar-nav {
  position: absolute;
  top: 0;
  width: 20vw;
  margin: 0;
  padding: 0;
  list-style: none;
}

.sidebar-nav.sidebar-bottom {
  top: initial;
  bottom: 0;
}

.sidebar-nav li {
  line-height: 40px;
  text-align: right;
  border-right: 0px solid #f4f5f4;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

.sidebar-nav li:hover {
  border-right: 4px solid #f4f5f4;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

.sidebar-nav li:hover a {
  margin-right: 8px;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

.sidebar-nav li:first-child {
  padding: 40px 35px;
}

.sidebar-nav li:first-child:hover {
  border-right: 0px solid #f4f5f4;
}

.sidebar-nav.sidebar-bottom li:first-child:hover {
  border-right: 4px solid #f4f5f4;
}

.sidebar-nav li a {
  display: inline-block;
  padding: 40px 35px;
  text-decoration: none;
  font-size: 24px;
	color: #f4f5f4;
  font-weight: 300;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

/*-----------------------------------------------------
HOME PAGE
-----------------------------------------------------*/

.center-content h1 {
  text-align: center;
  color: #f4f5f4;
  font-weight: 300;
  line-height: 200%;
}
h1.sm {
  font-size: 24px;
}

h1.md {
  font-size: 32px;
}

h1.lg {
  font-size: 42px;
}

.center-content-wrapper {
  width: 100%;
  height: 100%;
  position: relative;
  text-align: center;
  background-image: url("../images/road.jpg");
  background-position: center;
}

.center-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  padding: 40px 35px;
	background: rgba(25, 43, 52, 0.75);
}

/*-----------------------------------------------------
ABOUT ME
-----------------------------------------------------*/

#about-wrapper {
  width: 100%;
  height: 100%;
}

#about-wrapper .row {
  height: 100%;
  margin: 0;
}


#about-content {
  padding: 40px 35px;
}

#about-content h1, #about-content p {
  color: rgb(11, 19, 23);
  text-align: center;
}

#about-content p {
  font-size: 18px;
  line-height: 180%;
}

.about-body {
  padding: 40px 35px;  
}

#about-image img {
  height: 100%;
}
