/*-----------------------------------------------------
AUTHOR: Muhan Guclu
WEBSITE: http://magicmuhan.com

Primary Stylesheet
-----------------------------------------------------*/

/*-----------------------------------------------------
GENERAL STYLES
-----------------------------------------------------*/

body {
  overflow-x: hidden;
  background: #f4f5f4;
}

h1, h2, h3, h4 {
	font-family: 'Lato', sans-serif;
	padding: 0;
	margin: 0;
	line-height: 140%;
}

p, li, a {
	font-family: 'Lato', sans-serif;
	text-decoration: none;
	color: #f4f5f4;
}

#wrapper {
  padding-left: 20vw;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#sidebar-wrapper {
  z-index: 1000;
  position: fixed;
  left: 0;
  width: 20vw;
  height: 100%;
  /*margin-left: -20vw;*/
  overflow-y: auto;
  background: rgb(11, 19, 23);
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#page-content-wrapper {
  width: calc(100% - 20vw);
  position: absolute;
  height: 100vh;
}

#page-content-wrapper > .container-fluid {
  height: 100%;
  padding: 0;
}

/*-----------------------------------------------------
MAIN NAVIGATION
-----------------------------------------------------*/

.sidebar-nav {
  position: absolute;
  top: 0;
  width: 20vw;
  margin: 0;
  padding: 0;
  list-style: none;
}

.sidebar-nav.sidebar-bottom {
  top: initial;
  bottom: 0;
}

.sidebar-nav li {
  line-height: 40px;
  text-align: right;
  border-right: 0px solid #f4f5f4;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

.sidebar-nav li:hover {
  border-right: 4px solid #f4f5f4;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

.sidebar-nav li:hover a {
  margin-right: 8px;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

.sidebar-nav li:first-child {
  padding: 40px 35px;
}

.sidebar-nav li:first-child:hover {
  border-right: 0px solid #f4f5f4;
}

.sidebar-nav.sidebar-bottom li:first-child {
  padding: 0;
}

.sidebar-nav.sidebar-bottom li:first-child:hover {
  border-right: 4px solid #f4f5f4;
}

li#social-list-wrapper {
  border-bottom: 2px solid #f4f5f4;
  height: 91px;
  padding-right: 35px;
}

li#social-list-wrapper:hover {
  border-right: 0px solid #f4f5f4;
}

li#social-list-wrapper:hover a {
  margin-right: 0;
}

.sidebar-nav li a {
  display: inline-block;
  padding: 40px 35px;
  text-decoration: none;
  font-size: 24px;
	color: #f4f5f4;
  font-weight: 300;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

.social-list-icon {
  display: inline-block;
  text-align: center;
  width: 70px;
  vertical-align: top;
}

.social-list-icon a {
  display: inline;
  width: 40px;
  height: 40px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  padding: 0 !important;
  -webkit-transition: all 0.1s ease-out;
  -moz-transition: all 0.1s ease-out;
  -o-transition: all 0.1s ease-out;
  transition: all 0.1s ease-out;
}

.social-list-icon a:hover {
  width: 50px;
  height: 50px; 
  margin-top: -5px;
  -webkit-transition: all 0.1s ease-out;
  -moz-transition: all 0.1s ease-out;
  -o-transition: all 0.1s ease-out;
  transition: all 0.1s ease-out;
}

a#linkedin-icon {
  background-image: url("../images/linkedin.png");
}

a#github-icon {
  background-image: url("../images/github.svg");
}

a#mail-icon {
  background-image: url("../images/mail.svg");
}

/*-----------------------------------------------------
HOME PAGE
-----------------------------------------------------*/

.center-content h1 {
  text-align: center;
  color: #f4f5f4;
  font-weight: 300;
  line-height: 200%;
}
h1.sm {
  font-size: 24px;
}

h1.md {
  font-size: 32px;
}

h1.lg {
  font-size: 42px;
}

.center-content-wrapper {
  width: 100%;
  height: 100%;
  position: relative;
  text-align: center;
  background-image: url("../images/road.jpg");
  background-position: center;
}

.center-content-wrapper.not-found-wrapper {
  background-image: none;
}

.center-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  padding: 40px 35px;
	background: rgba(25, 43, 52, 0.75);
}

/*-----------------------------------------------------
ABOUT ME
-----------------------------------------------------*/

#about-wrapper {
  width: 100%;
  height: 100%;
}

#about-wrapper .row {
  height: 100%;
  margin: 0;
}


#about-content {
  padding: 40px 35px;
}

#about-content h1, #about-content p {
  color: rgb(11, 19, 23);
  text-align: center;
}

#about-content p {
  font-size: 18px;
  line-height: 180%;
}

.about-body {
  padding: 40px 35px;  
}

#about-image img {
  height: 100%;
}

/*-----------------------------------------------------
SKILL BAR GRAPH
-----------------------------------------------------*/

.skills {
	width: 580px;
	height: 300px;
  margin-left: 40px;
	border-left: 3px solid #0b1317;
	border-bottom: 3px solid #0b1317;
  display: inline-block;
  position: relative;
}

.bar {
	position: absolute;
	width: 30px;
	bottom: 0%;
	background: #2b4e59;
}

.htmlf {
	left: 55px;
	height: 0%;
}

.show-section .htmlf {
	height: 100%;
	-webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

.cssf {
	left: 120px;
	height: 0%;
}

.show-section .cssf {
	height: 100%;
	-webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

.jsf {
	left: 185px;
	height: 0%;
}

.show-section .jsf {
	height: 100%;
	-webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

.phpf {
  left: 250px;
  height: 0%;
}

.show-section .phpf {
	height: 95%;
	-webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

.wpf {
	left: 315px;
	height: 0%;
}

.show-section .wpf {
	height: 85%;
	-webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

.jqf {
	left: 379px;
	height: 0%;
}

.show-section .jqf {
	height: 100%;
	-webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

.ajf {
	left: 443px;
	height: 0%;
}

.show-section .ajf {
	height: 75%;
	-webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

.sassf {
	left: 506px;
	height: 0%;
}

.show-section .sassf {
	height: 70%;
	-webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

.skills ul {
	position: absolute;
	bottom: -5%;
	height: 5%;
	width: 100%;
}

.skills ul li {
	display: inline;
	position: absolute;
	border-bottom: 1px solid #0b1317;
	padding-bottom: 5px;
	-moz-transform:    rotate(-65deg);     
    -o-transform:      rotate(-65deg);     
    -webkit-transform: rotate(-65deg);     
    transform:         rotate(-65deg);
  padding-right: 40px;
  z-index: 30;
}

.skills ul li p {
	font-size: 16px;
  line-height: 100%;
  margin-bottom: 0;
}

li#html {
	left: 0px;
	top: 35px;
}

li#css {
	left: 65px;
	padding-right: 56px;
	top: 35px;
}

li#jq {
	left: 130px;
	padding-right: 21px;
	top: 35px;
}

li#php {
	left: 195px;
	padding-right: 60px;
	top: 35px;
}

li#wp {
  left: 259px;
  top: 35px;
  padding-right: 43px;
}

li#js {
	left: 325px;
	top: 35px;
	padding-right: 42px;
}

li#aj {
	left: 390px;
	top: 35px;
}

li#sass {
	left: 455px;
	padding-right: 58px;
	top: 35px;
}

/*-----------------------------------------------------
PAST WORK
-----------------------------------------------------*/

#work-section-jobs, #work-section-projects {
  height: 50vh;
  cursor: pointer;
  overflow-y: scroll;
	-webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

#work-section-jobs {
  border-top: 1px solid rgb(11, 19, 23);
}

#work-section-jobs.work-selected, #work-section-projects.work-selected {
  height: calc(100vh - 80px);
	-webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  cursor: initial;
  background: #dbdcdb;
}

#work-section-jobs.work-inactive, #work-section-projects.work-inactive {
  height: 80px;
}

h1.work-section-title {
  line-height: 50vh;
  text-align: center;
  font-size: 40px;
  font-weight: 300;
  letter-spacing: 2px;
  width: 100%;
  border-bottom: 0px solid rgb(11, 19, 23);
	-webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.work-section h1, .work-section:hover h1 {
	-webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.work-section.work-default:hover h1 {
  font-size: 48px;
  background: #dbdcdb;
}

.work-section.work-selected:hover h1 {
  font-size: 40px;
}

.work-section.work-inactive:hover h1 {
  opacity: 1.0;
  font-size: 32px;
}

.work-selected h1.work-section-title {
  line-height: 120px;
  height: 120px;
  border-bottom: 2px solid rgb(11, 19, 23);
  font-weight: 400;
  font-size: 40px;
  cursor: pointer;
  margin: 0 10vw 60px 10vw;
}

.work-inactive h1.work-section-title {
  line-height: 80px;
  background: #f4f5f4;
  opacity: 0.3;
  font-size: 32px;
}

#work-section-jobs.work-selected h1.work-section-title {
  width: calc(100% - 20vw);
}

#jobs-content {
  padding: 0 70px;
}

ul.job-details, ul.job-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

li.job-item {
  margin-bottom: 60px;
}

p.job-detail-text {
  color: rgb(11, 19, 23);
  font-size: 18px;
  line-height: 180%;
  margin-bottom: 8px;
}

p.job-detail-title {
  font-size: 22px;
  font-weight: 600;
}

p.job-detail-company {
  font-weight: 600;
}

p.job-detail-time, p.job-detail-body {
  font-size: 16px;
}
