{{define "title"}}Muhan Guclu - About{{end}}

{{define "body"}}
  <div id="about-wrapper">
    
    <div class="row">
      <div class="col-md-6 about-section" id="about-content">
        <div class="about-title">
          <h1>About Me</h1>
        </div>
        <div class="about-body">
          <p>I am a full stack developer currently living in New York City. After graduating with a BA in Philosophy from Bard College, I found that the best way to share thoughts and ideas is through creating interactive experiences that are accessible to everyone, and discovered a deep love of programming in the process. I am a self-taught developer, and refined my skills professionally in various working roles involving everything from designing and implementing WordPress sites to creating, deploying, and maintaining scalable, distributed systems on popular platforms like AWS. I am always looking for new technologies to try out, such as systems programming languages like Rust and Go, or front-end frameworks like React and Ember. I love the startup environment, and am most passionate about making products people really love and use. I'm constantly looking for new opportunities to grow and expand my skillset, both in development and business.</p>
        </div>
      </div>
      <div class="col-md-6 about-section" id="about-image">
        <img src="../static/images/headshot.jpg"> 
      </div>
    </div>

  </div>
{{end}}
