{{define "title"}}Muhan Guclu - Past Work{{end}}

{{define "body"}}
  <div id="work-wrapper">
    <div class="work-section work-default" id="work-section-projects"> 
      <h1 class="work-section-title">Past Projects</h1>
      <div id="projects-content">
        <ul class="projects-list">
          <li class="projects-list-item">
            <div class="row">
              <div class="col-md-6 project-section">
                <img class="project-img" src="../static/images/roost-dash.png">
              </div>
              <div class="col-md-6 project-section">
                <p class="project-summary-text">Dashboard for Roost application, built using Ember. Primary UI for the Roost system. Responsible for sending notifications, displaying all information relevant to using Roost (sent notifications, user details, billing, etc). Also has advanced audience segmentation UI features, various audience metric data (built using highcharts), and a geolocation targeting UI.</p>
                <a class="project-link" href="https://dashboard.goroost.com" target="_blank">VISIT SITE</a>
              </div>
            </div>
          </li>
          <li class="projects-list-item">
            <div class="row">
              <div class="col-md-6 project-section">
                <p class="project-summary-text">Roost website, built using static HTML and Bootstrap. Built exactly according to photoshop mockup made by a (super talented) designer. Also contains pricing slider built using jQuery.</p>
                <a class="project-link" href="https://goroost.com" target="_blank">VISIT SITE</a>
              </div>
              <div class="col-md-6 project-section">
                <img class="project-img" src="../static/images/roost-site.png">
              </div>
            </div>
          </li>
          <li class="projects-list-item">
            <div class="row">
              <div class="col-md-6 project-section">
                <img class="project-img" src="../static/images/roost-elixir.png">
              </div>
              <div class="col-md-6 project-section">
                <p class="project-summary-text">Rebuilt entire Roost core in Elixir (previously writtin in Java 7). Leveraged OTP principles and functional programming patterns to create highly parallelized version of our notification sending platform, with 50 - 100x improvement in performance and significant cost reduction.</p>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <div class="work-section work-default" id="work-section-jobs"> 
      <h1 class="work-section-title">Employment History</h1>
      <div id="jobs-content">
        <ul class="job-list"> 
          <li class="job-item">
            <ul class="job-details">
              <li class="job-detail-item job-detail-title-wrapper">
                <p class="job-detail-text job-detail-title">Head of Engineering</p>
              </li>
              <li class="job-detail-item job-detail-company-wrapper">
                <p class="job-detail-text job-detail-company">Roost</p>
              </li>
              <li class="job-detail-item job-detail-time-wrapper">
                <p class="job-detail-text job-detail-time">1/2016 &ndash; Present</p>
              </li>
              <li class="job-detail-item job-detail-body-wrapper">
                <p class="job-detail-text job-detail-body">Replaced CTO as technical lead of company. Increased performance through use of individually scalable NodeJS micro services, handling over 100,000 requests per minute. Rewrote core product in Elixir, replacing a legacy Java system with an OTP application capable of delivering billions of notifications per day. Organized deployment process and built EC2 clusters behind HAProxy to run new application. Managed other engineers and delegated technical tasks as necessary, improving communication through Asana, focused sprints, and clear goals. Worked closely with CEO and sales teams to satisfy client requests, create custom integrations as necessary, and maintain up-to-date technical roadmap.  </p>
              </li>
            </ul>
          </li>
          <li class="job-item">
            <ul class="job-details">
              <li class="job-detail-item job-detail-title-wrapper">
                <p class="job-detail-text job-detail-title">Developer</p>
              </li>
              <li class="job-detail-item job-detail-company-wrapper">
                <p class="job-detail-text job-detail-company">Roost</p>
              </li>
              <li class="job-detail-item job-detail-time-wrapper">
                <p class="job-detail-text job-detail-time">11/2014 &ndash; 1/2016</p>
              </li>
              <li class="job-detail-item job-detail-body-wrapper">
                <p class="job-detail-text job-detail-body">Worked closely with CTO/CEO to move technical product forward, explore new verticals, and abate technical debt. Developed consumer-facing dashboard using EmberJS, ported Java API and server code to NodeJS, tested deployment strategies using CoreOS / Kubernetes, developed application with Meteor to proxy insecure application data to ease transition to HTTPS. Managed and improved AWS clusters receiving over 75,000 requests per minute.</p>
              </li>
            </ul>
          </li>
          <li class="job-item">
            <ul class="job-details">
              <li class="job-detail-item job-detail-title-wrapper">
                <p class="job-detail-text job-detail-title">Contracted Web Developer</p>
              </li>
              <li class="job-detail-item job-detail-company-wrapper">
                <p class="job-detail-text job-detail-company">Infusion</p>
              </li>
              <li class="job-detail-item job-detail-time-wrapper">
                <p class="job-detail-text job-detail-time">7/2014 &ndash; 10/2014</p>
              </li>
              <li class="job-detail-item job-detail-body-wrapper">
                <p class="job-detail-text job-detail-body">Worked with a large development team to remediate content originally targeting iOS, extending functionality to Windows 8. Identified and corrected numerous CSS and JavaScript issues built using a wide variety of frameworks. Carefully organized, recorded, and communicated progress throughout the process.</p>
              </li>
            </ul>
          </li>
          <li class="job-item">
            <ul class="job-details">
              <li class="job-detail-item job-detail-title-wrapper">
                <p class="job-detail-text job-detail-title">Creative Technologist</p>
              </li>
              <li class="job-detail-item job-detail-company-wrapper">
                <p class="job-detail-text job-detail-company">Mark &amp; Phil</p>
              </li>
              <li class="job-detail-item job-detail-time-wrapper">
                <p class="job-detail-text job-detail-time">9/2013 &ndash; 5/2014</p>
              </li>
              <li class="job-detail-item job-detail-body-wrapper">
                <p class="job-detail-text job-detail-body">Full-stack development on WordPress-based projects for non-profit clients. Responsibilities included theme modification, plugin tweaking, site construction based on designs supplied by in-house graphic designer, and implementation of advanced interactive functionality.</p>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>
{{end}}
